
/* 전체 레이아웃 */
.App {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

/* 헤더*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
}

/* 로고 */
.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #000;
  text-decoration: none;
}

/* 네비게이션 바 */
.nav {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav li {
  margin: 0 10px;
}

.nav li a {
  text-decoration: none;
  color: #000;
  font-size: 1rem;
  transition: color 0.3s ease;
}


.nav li a, .logo {
  color: #000;
}
