/* 전체 레이아웃 */
.App {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

/* 헤더 */
.header {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 10px 20px;
}

/* 상단 회원가입/로그인 */
.top-header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.auth-links {
  display: flex;
  gap: 10px;
}

.auth-link {
  background: none;
  border: none;
  color: #aaa;
  font-size: 1rem;
  cursor: pointer;
  transition: color 0.3s ease;
  text-decoration: none;
}

.auth-link:hover {
  color: #555;
}

/* 네비게이션 바 로그인 버튼 */
.nav-login-btn {
  background: none;
  border: none;
  color: #aaa;
  font-size: 1rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

.nav-login-btn:hover {
  color: #555;
}

/* 메인 네비게이션 */
.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  padding: 0 20px;
}


.logo-image {
  margin-left: 40px;
  margin-top: -20px; /* 위로 올리기 */
  width: 250px; /* 원하는 크기로 조정 */
  height: auto; /* 비율 유지 */
}

.nav-container {
  display: flex;
  align-items: center;
  margin-left: -50px; /* 기존보다 왼쪽으로 조금 이동 */
}

.nav {
  display: flex;
  list-style: none;
  padding: 0;
  margin-left: -500px; /* 네비게이션 전체를 왼쪽으로 이동 */
}

.nav li {
  margin-right: 45px; /* 메뉴 간 간격 유지 */
}



.nav li a {
  text-decoration: none;
  color: #000;
  font-size: 1.4rem;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav li a:hover {
  color: #555;
}
